In [2]:
import pandas as pd

In [3]:
caminho_filme = '../data/ml-latest-small/movies.csv'

In [4]:
df_movie = pd.read_csv(caminho_filme)

In [5]:
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df_movie.shape

(9742, 3)

In [7]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [8]:
df_movie['movieId'].nunique()

9742

In [9]:
anos = df_movie['title'].str.extract(r"\((\d{4})\)")
df_movie["year"] = anos

In [10]:
df_movie.dtypes

movieId     int64
title      object
genres     object
year       object
dtype: object

In [11]:
df_movie['year'].isnull().sum()

np.int64(13)

In [12]:
df_movie[df_movie['year'].isnull()]['title']

6059                                            Babylon 5
9031                                     Ready Player One
9091                                           Hyena Road
9138    The Adventures of Sherlock Holmes and Doctor W...
9179                                    Nocturnal Animals
9259                                             Paterson
9367                                            Moonlight
9448                                               The OA
9514                                               Cosmos
9515                              Maria Bamford: Old Baby
9518                    Death Note: Desu nôto (2006–2007)
9525                                    Generation Iron 2
9611                                         Black Mirror
Name: title, dtype: object

In [13]:
df_movie = df_movie[df_movie['year'].notnull()]

In [14]:
df_movie = df_movie.dropna(subset=["year"]).copy()

In [15]:
df_movie["year"] = df_movie["year"].astype(int)

In [16]:
todas_as_listas = df_movie['genres'].str.split('|')

In [17]:
lista_geral = sum(todas_as_listas, [])

In [18]:
generos_unicos = sorted(set(lista_geral))

In [19]:
print(generos_unicos)

['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [26]:
for genero in generos_unicos:
    df_movie[genero] = 0

In [27]:
for i,linha in df_movie.iterrows():
    genero_de_filme = linha['genres'].split('|')
    for genero in genero_de_filme:
        df_movie.at[i, genero] = 1

In [28]:
df_movie.head()

,movieId,title,genres,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
print(df_movie.columns.tolist())

['movieId', 'title', 'genres', 'year', '(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [30]:
df_movie.drop(columns=['(no genres listed)'], inplace=True)

In [31]:
df_movie.head()

,movieId,title,genres,year,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
if genero in genero_de_filme:
    df_movie.at[i, genero] = 1
else:
    df_movie.at[i, genero] = 0

In [33]:
df_movie.head()

,movieId,title,genres,year,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_movie.fillna(0, inplace=True)

In [35]:
df_movie.head()

,movieId,title,genres,year,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
caminho_rating = '../data/ml-latest-small/ratings.csv'

In [37]:
df_rating = pd.read_csv(caminho_rating)

In [38]:
df_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [39]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [40]:
df_rating.shape

(100836, 4)

In [41]:
df_rating['timestamp'] = pd.to_datetime(df_rating['timestamp'], unit = 's')

In [42]:
df_rating.head()

   userId  movieId  rating           timestamp
0       1        1     4.0 2000-07-30 18:45:03
1       1        3     4.0 2000-07-30 18:20:47
2       1        6     4.0 2000-07-30 18:37:04
3       1       47     5.0 2000-07-30 19:03:35
4       1       50     5.0 2000-07-30 18:48:51

In [43]:
df_rating['rating'].mean()

np.float64(3.501556983616962)

In [44]:
df_rating['userId'].value_counts()

userId
414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
278      20
147      20
320      20
53       20
Name: count, Length: 610, dtype: int64

In [46]:
df_merged = df_rating.merge(df_movie, on='movieId', how='inner')

In [48]:
df_merged.groupby('movieId')['rating'].count()

movieId
1         215
2         110
3          52
4           7
5          49
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Name: rating, Length: 9711, dtype: int64

In [50]:
df_movie_status = df_merged.groupby('movieId')['rating'].agg(['mean', 'count'])

In [56]:
df_merged.groupby('title')['rating'].mean().sort_values(ascending=False).head(10) # lista dos 10 filmes mais bem avaliados

title
Snowflake, the White Gorilla (2011)    5.0
Rain (2001)                            5.0
Justice League: Doom (2012)            5.0
Karlson Returns (1970)                 5.0
Rivers and Tides (2001)                5.0
Bloodsucking Bastards (2015)           5.0
12 Chairs (1976)                       5.0
Raise Your Voice (2004)                5.0
'Salem's Lot (2004)                    5.0
Dylan Moran: Monster (2004)            5.0
Name: rating, dtype: float64

In [55]:
df_merged['title'].value_counts() # para ser saber quais filmes tem mais avaliações

title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278
                                   ...
Bloodmoon (1997)                      1
Sympathy for the Underdog (1971)      1
Hazard (2005)                         1
Blair Witch (2016)                    1
Krampus (2015)                        1
Name: count, Length: 9706, dtype: int64

In [58]:
df_matriz = df_merged.pivot_table(index='userId', columns='title', values='rating', aggfunc='mean')

In [59]:
df_matriz.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN